<div class="thumbnail">
    <img src="http://placehold.it/820x230" alt="">
    <div>
        <h4 class="pull-right">{{product.price}}</h4>
        <h4>{{product.title}}</h4>
        <p>{{product.dese}}</p>
    </div>
    <p class="pull-right">{{comments.length}}</p>
    <p>
        <app-stars [rating]="product.rating"></app-stars>
    </p>
</div>
<div class="well">
    <div>
        <button class="btn btn-success" (click)="isExpand=!isExpand">评论</button>
    </div>
    <div [hidden]="isExpand">
        <!--<div [ngStyle]="{'display': isExpand?'block':'none'}">-->
        <app-stars [(rating)]="newRating" [radeOnly]="false"></app-stars>
        <textarea [(ngModel)]="comment"></textarea>
        <div>
            <button class="row" (click)="doComment('li',this.newRating,comment)">pull</button>
        </div>
    </div>

    <div class="row" *ngFor="let item of comments">
        <hr>
        <div class="col-md-12">
            <app-stars [rating]="item.rating"></app-stars>
            <span>{{item.user}}</span>
            <span class="pull-right">{{item.time}}</span>
            <p></p>
            <p>{{item.content}}</p>
        </div>
    </div>
</div>